<div class="row content-secondary-page">
<div class="medium-9 medium-push-3 columns">
                      <div class="row" id="app">
                      <div class="medium-12 columns"><div class="slider-unit"><div class="slider-hp"><div><div class="slider-text-container left"><h2 class="text-out blue" id="text-animate-0"><a href="https://sc.edu/study/colleges_schools/moore/economics/undergraduate/prospective/Admission%20and%20Declaring%20the%20Major.php">Explore Economics</a></h2><h3 class="text-out" id="text-animate-0"><a href="https://sc.edu/study/colleges_schools/moore/economics/undergraduate/prospective/Admission%20and%20Declaring%20the%20Major.php">Our students are prepared for careers in finance, government, teaching, and more.</a></h3></div></div></div></div></div>
                        <div class="medium-8 columns">


<div class="row unit-home-page-arbitrary">
  <div class="medium-12 columns">
    <h1 class="page-title">Seminars and Events</h1>
    <iframe class="calendar-embed" src="https://calendar.google.com/calendar/embed?src=ndorn5mdpjpbp3ld4f42l2r1po%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no" title="Department of Economics events calendar"></iframe>
  </div>
</div>
                      <div class="medium-4 columns units-home-page-side-bar">

            <hr class="show-for-small-only"/>  <hr/>
                  </div>
            </div>  </div>
