<div class="row content-secondary-page">
<div class="medium-9 medium-push-3 columns">
                      <div class="row" id="app">
                      <div class="medium-12 columns"><div class="slider-unit"><div class="slider-hp"><div><div class="slider-text-container left"><h2 class="text-out blue" id="text-animate-0"><a href="https://sc.edu/study/colleges_schools/moore/economics/undergraduate/prospective/Admission%20and%20Declaring%20the%20Major.php">Explore Economics</a></h2><h3 class="text-out" id="text-animate-0"><a href="https://sc.edu/study/colleges_schools/moore/economics/undergraduate/prospective/Admission%20and%20Declaring%20the%20Major.php">Our students are prepared for careers in finance, government, teaching, and more.</a></h3></div></div></div></div></div>
                        <div class="medium-8 columns">

<hr/><div class="row unit-home-page-arbitrary"><div class="medium-12 columns"><h1 class="page-title">Economics Department Faculty</h1>
  <br>

<div class="list_item row faculty-contact">
  <div class="small-3 medium-4 large-5 columns">

          <img src="Images/addisonjohn.jpg" alt="Photo of John Addison"/>
  </div>
  <div class="small-8 medium-9 large-10 columns faculty-contact-info">
      <h3 style="display:inline;">
          John T. Addison
      </h3>
      <h6>Research Professor</h6>
      <p>
          <a href="mailto:ecceaddi@moore.sc.edu">ecceaddi@moore.sc.edu</a>
      </p>
      <p>
          <span class="education">Education: </span>
          Ph.D., London School of Economics and Political Science
      </p>
      <p>
        <span class="education">Research Interests: </span>
        Labor economics
    </p>
    <p>
      <a href="CVs/addison_cv_october_2019_tagged.pdf">CV</a>, <a href="https://sc.edu/study/colleges_schools/moore/directory/addison_john.php">U of SC Webpage</a>
  </p>
  </div>
</div>

<br>

<div class="list_item row faculty-contact">
  <div class="small-3 medium-4 large-5 columns">

          <img src="Images/bass_jan.jpg" alt="Photo of Janice Bass"/>
  </div>
  <div class="small-8 medium-9 large-10 columns faculty-contact-info">
      <h3 style="display:inline;">
          Janice Bass
      </h3>
      <h6>Professor, Associate Dean of Undergraduate Programs</h6>
      <p>
          <a href="mailto:Jan.Bass@moore.sc.edu">Jan.Bass@moore.sc.edu</a>
      </p>
      <p>
          <span class="education">Education: </span>
          Ph.D., University of North Carolina - Chapel Hill
      </p>
      <p>
        <span class="education">Research Interests: </span>
        Exchange rates, financial crises, time series econometrics
    </p>
    <p>
      <a href="https://janiceboucherbreuer.wixsite.com/site/cv">CV</a>, <a href="https://janiceboucherbreuer.wixsite.com/site">Personal Website</a>
  </p>
  </div>
</div>

<br>

<div class="list_item row faculty-contact">
  <div class="small-3 medium-4 large-5 columns">

          <img src="Images/blackburn_mckinley.jpg" alt="Photo of McKinley Blackburn"/>
  </div>
  <div class="small-8 medium-9 large-10 columns faculty-contact-info">
      <h3 style="display:inline;">
          McKinley L. Blackburn
      </h3>
      <h6>Professor</h6>
      <p>
          <a href="mailto:blackbrn@moore.sc.edu">blackbrn@moore.sc.edu</a>
      </p>
      <p>
          <span class="education">Education: </span>
          Ph.D., Harvard University
      </p>
      <p>
        <span class="education">Research Interests: </span>
        Labor economics, econometrics
    </p>
    <p>
      <a href="CVs/blackburn_mckinley_cv.pdf">CV</a>, <a href="https://sc.edu/study/colleges_schools/moore/directory/blackburn_mckinley.php">U of SC Webpage</a>
  </p>
  </div>
</div>

<br>

<div class="list_item row faculty-contact">
  <div class="small-3 medium-4 large-5 columns">

          <img src="Images/breitbach_elizabeth.jpg" alt="Photo of Elizabeth Breitbach"/>
  </div>
  <div class="small-8 medium-9 large-10 columns faculty-contact-info">
      <h3 style="display:inline;">
          Elizabeth Breitbach
      </h3>
      <h6>Adjunct Professor</h6>
      <p>
          <a href="mailto:Elizabeth.Breitbach@moore.sc.edu">Elizabeth.Breitbach@moore.sc.edu</a>
      </p>
      <p>
          <span class="education">Education: </span>
          Ph.D., University of Nebraska - Lincoln
      </p>
      <p>
        <span class="education">Research Interests: </span>
        Economic education, financial literacy
    </p>
    <p>
      <a href="CVs/breitbach_elizabeth_cv.pdf">CV</a>, <a href="https://sites.google.com/site/breitbachelizabeth/">Personal Website</a>
  </p>
  </div>
</div>

<br>

<div class="list_item row faculty-contact">
  <div class="small-3 medium-4 large-5 columns">

          <img src="Images/brookins_philip.jpg" alt="Photo of Philip Brookins"/>
  </div>
  <div class="small-8 medium-9 large-10 columns faculty-contact-info">
      <h3 style="display:inline;">
          Philip Brookins
      </h3>
      <h6>Assistant Professor</h6>
      <p>
          <a href="mailto:Philip.Brookins@moore.sc.edu">Philip.Brookins@moore.sc.edu</a>
      </p>
      <p>
          <span class="education">Education: </span>
          Ph.D., Florida State University
      </p>
      <p>
        <span class="education">Research Interests: </span>
        Experimental economics, game theory
    </p>
    <p>
      <a href="https://philipbrookins.com/items/CV_Brookins.pdf">CV</a>, <a href="https://philipbrookins.com">Personal Website</a>
  </p>
  </div>
</div>

<br>

<div class="list_item row faculty-contact">
  <div class="small-3 medium-4 large-5 columns">

          <img src="Images/brown_jessica.jpg" alt="Photo of Jessica Brown"/>
  </div>
  <div class="small-8 medium-9 large-10 columns faculty-contact-info">
      <h3 style="display:inline;">
          Jessica Brown
      </h3>
      <h6>Assistant Professor</h6>
      <p>
          <a href="mailto:Jessica.Brown@moore.sc.edu">Jessica.Brown@moore.sc.edu</a>
      </p>
      <p>
          <span class="education">Education: </span>
          Ph.D., Princeton University
      </p>
      <p>
        <span class="education">Research Interests: </span>
        Labor economics, public economics
    </p>
    <p>
      <a href="https://jessicahbrown.com/cv/">CV</a>, <a href="https://jessicahbrown.com">Personal Website</a>
  </p>
  </div>
</div>

<br>

<div class="list_item row faculty-contact">
    <div class="small-3 medium-4 large-5 columns">

        <img src="Images/carr_geoffrey.jpg" alt="Photo of Geoffrey Carr"/>
  </div>
<div class="small-8 medium-9 large-10 columns faculty-contact-info">
    <h3 style="display:inline;">
        Geoffrey Carr
    </h3>
    <h6>Clinical Assistant Professor</h6>
    <p>
        <a href="mailto:Geoffrey.Carr@Moore.sc.edu">Geoffrey.Carr@moore.sc.edu</a>
    </p>
    <p>
        <span class="education">Education: </span>
        Ph.D., University of Virginia
    </p>
    <p>
        <span class="education">Research Interests: </span>
        Macroeconomics, computational economics, and labor economics
    </p>
    <p>
    <a href="https://drive.google.com/file/d/1_NeuNu6Cy4BV3A0GRLwvTNfeloeOPo5_/view">CV</a>, <a href="https://sites.google.com/view/geoffrey-carr/home">Personal Website</a>
</p>
</div>
</div>

<br>


<div class="list_item row faculty-contact">
    <div class="small-3 medium-4 large-5 columns">

            <img src="Images/carroll_sarah.jpg" alt="Photo of Sarah Carroll"/>
  </div>
    <div class="small-8 medium-9 large-10 columns faculty-contact-info">
        <h3 style="display:inline;">
            Sarah  Carroll
        </h3>
        <h6>Clinical Assistant Professor</h6>
        <p>
            <a href="mailto:Sarah.Imlau@moore.sc.edu">Sarah.Imlau@moore.sc.edu</a>
        </p>
        <p>
            <span class="education">Education: </span>
            Ph.D., University of Wisconsin - Milwaukee
        </p>
        <p>
          <span class="education">Research Interests: </span>
          International trade, finance
      </p>
      <p>
        <a href="CVs/imlau_sarah_cv.pdf">CV</a>, <a href="https://sc.edu/study/colleges_schools/moore/directory/imlau_sarah.php">U of SC Webpage</a>
    </p>
    </div>
  </div>

  <br>

<div class="list_item row faculty-contact">
  <div class="small-3 medium-4 large-5 columns">

          <img src="Images/coffey_bentley.jpg" alt="Photo of Bentley Coffey"/>
  </div>
  <div class="small-8 medium-9 large-10 columns faculty-contact-info">
      <h3 style="display:inline;">
          Bentley Coffey
      </h3>
      <h6>Clinical Assistant Professor</h6>
      <p>
          <a href="mailto:bentley.coffey@moore.sc.edu">Bentley.Coffey@moore.sc.edu</a>
      </p>
      <p>
          <span class="education">Education: </span>
          Ph.D., Duke University
      </p>
      <p>
        <span class="education">Research Interests: </span>
        Environmental economics
    </p>
    <p>
      <a href="https://www.rupture.net/~bentley/CV%20-%20Bentley%20Coffey%201.24.2020.pdf">CV</a>, <a href="https://www.rupture.net/~bentley/">Personal Website</a>
  </p>
  </div>
</div>

<br>

<div class="list_item row faculty-contact">
  <div class="small-3 medium-4 large-5 columns">

          <img src="Images/debacker_jason.jpg" alt="Photo of Jason DeBacker"/>
  </div>
  <div class="small-8 medium-9 large-10 columns faculty-contact-info">
      <h3 style="display:inline;">
          Jason DeBacker
      </h3>
      <h6>Associate Professor</h6>
      <p>
          <a href="mailto:jason.debacker@moore.sc.edu">Jason.DeBacker@moore.sc.edu</a>
      </p>
      <p>
          <span class="education">Education: </span>
          Ph.D., University of Texas at Austin
      </p>
      <p>
        <span class="education">Research Interests: </span>
        Public finance, macroeconomics
    </p>
    <p>
      <a href="http://jasondebacker.com/pdfs/DeBacker_CV.pdf">CV</a>, <a href="https://jasondebacker.com">Personal Website</a>
  </p>
  </div>
</div>

<br>

<div class="list_item row faculty-contact">
  <div class="small-3 medium-4 large-5 columns">

          <img src="Images/gordanier_john.jpg" alt="Photo of John Gordanier"/>
  </div>
  <div class="small-8 medium-9 large-10 columns faculty-contact-info">
      <h3 style="display:inline;">
          John Gordanier
      </h3>
      <h6>Clinical Associate Professor</h6>
      <p>
          <a href="mailto:jgordanier@moore.sc.edu">jgordanier@moore.sc.edu</a>
      </p>
      <p>
          <span class="education">Education: </span>
          Ph.D., University of Wisconsin
      </p>
      <p>
        <span class="education">Research Interests: </span>
        Personnel economics, labor economics,industrial organization
    </p>
    <p>
      <a href="CVs/gordanier_john_cv.pdf">CV</a>, <a href="https://sc.edu/study/colleges_schools/moore/directory/gordanier_john.php">U of SC Webpage</a>
  </p>
  </div>
</div>

<br>


<div class="list_item row faculty-contact">
  <div class="small-3 medium-4 large-5 columns">

          <img src="Images/hauk_william.jpg" alt="Photo of Bill Hauk"/>
  </div>
  <div class="small-8 medium-9 large-10 columns faculty-contact-info">
      <h3 style="display:inline;">
          William R. Hauk
      </h3>
      <h6>Associate Professor, Academic Director, Professional and One-Year MBA Programs</h6>
      <p>
          <a href="mailto:hauk@moore.sc.edu">hauk@moore.sc.edu</a>
      </p>
      <p>
          <span class="education">Education: </span>
          Ph.D., Stanford University
      </p>
      <p>
        <span class="education">Research Interests: </span>
        International trade, political economy, economic growth
    </p>
    <p>
      <a href="CVs/hauk_william.pdf">CV</a>, <a href="https://www.haukeconomics.com/">Personal Website</a>
  </p>
  </div>
</div>

<br>

<div class="list_item row faculty-contact">
  <div class="small-3 medium-4 large-5 columns">

          <img src="Images/hess_joshua.jpg" alt="Photo of Joshua Hess"/>
  </div>
  <div class="small-8 medium-9 large-10 columns faculty-contact-info">
      <h3 style="display:inline;">
          Joshua Hess
      </h3>
      <h6>Clinical Assistant Professor</h6>
      <p>
          <a href="mailto:Joshua.Hess@moore.sc.edu">Joshua.Hess@moore.sc.edu</a>
      </p>
      <p>
          <span class="education">Education: </span>
          Ph.D., Colorado State University
      </p>
      <p>
        <span class="education">Research Interests: </span>
        Environmental and natural resource economics, risk and uncertainty
    </p>
    <p>
      <a href="https://drive.google.com/file/d/16XVQbxf0k_IouFAbWX6hEf8PUxjMjbVh/view?usp=share_link">CV</a>, <a href="https://sites.google.com/view/joshuahhess">Personal Website</a>
  </p>
  </div>
</div>

<br>


<div class="list_item row faculty-contact">
  <div class="small-3 medium-4 large-5 columns">

          <img src="Images/jensen_christian.jpg" alt="Photo of Christian Jensen"/>
  </div>
  <div class="small-8 medium-9 large-10 columns faculty-contact-info">
      <h3 style="display:inline;">
          Christian Jensen
      </h3>
      <h6>Associate Professor</h6>
      <p>
          <a href="mailto:christian.jensen@moore.sc.edu">Christian.Jensen@moore.sc.edu</a>
      </p>
      <p>
          <span class="education">Education: </span>
          Ph.D., Carnegie Mellon University
      </p>
      <p>
        <span class="education">Research Interests: </span>
        Macroeconomics, monetary policy
    </p>
    <p>
      <a href="CVs/jensen_christian_cv.pdf">CV</a>, <a href="https://sc.edu/study/colleges_schools/moore/directory/jensen_christian.php">U of SC Webpage</a>
  </p>
  </div>
</div>

<br>

<div class="list_item row faculty-contact">
    <div class="small-3 medium-4 large-5 columns">

            <img src="Images/lee_sangmin.jpg" alt="Photo of Sang Min Lee"/>
  </div>
    <div class="small-8 medium-9 large-10 columns faculty-contact-info">
        <h3 style="display:inline;">
            Sang Min Lee
        </h3>
        <h6>Assistant Professor</h6>
        <p>
            <a href="mailto:sangmin.lee@moore.sc.edu">SangMin.Lee@moore.sc.edu</a>
        </p>
        <p>
            <span class="education">Education: </span>
            Ph.D., University of Minnesota
        </p>
        <p>
          <span class="education">Research Interests: </span>
          International trade, macroeconomics, and growth and development
      </p>
      <p>
        <a href="https://drive.google.com/file/d/1ccAg-__r_wS32b5Zw3-lNWAOVKf--IXQ/view?usp=share_link">CV</a>, <a href="https://www.sangminlee.com/home">Personal Website</a>
    </p>
    </div>
  </div>

  <br>

<div class="list_item row faculty-contact">
  <div class="small-3 medium-4 large-5 columns">

          <img src="Images/matros_alexander.jpg" alt="Photo of Alexander Matros"/>
  </div>
  <div class="small-8 medium-9 large-10 columns faculty-contact-info">
      <h3 style="display:inline;">
          Alexander Matros
      </h3>
      <h6>Professor</h6>
      <p>
          <a href="mailto:alexander.matros@moore.sc.edu">Alexander.Matros@moore.sc.edu</a>
      </p>
      <p>
          <span class="education">Education: </span>
          Ph.D., Economics, Stockholm School of Economics<br>
          Ph.D., Mathematics, Moscow State University
      </p>
      <p>
        <span class="education">Research Interests: </span>
        Evolutionary and experimental game theory, contests, industrial organization
    </p>
    <p>
      <a href="CVs/matros_alexander_cv.pdf">CV</a>, <a href="https://sc.edu/study/colleges_schools/moore/directory/matros_alexander.php">U of SC Webpage</a>
  </p>
  </div>
</div>

<br>


<div class="list_item row faculty-contact">
  <div class="small-3 medium-4 large-5 columns">

          <img src="Images/miao_chunhui.jpg" alt="Photo of Chun-Hui Miao"/>
  </div>
  <div class="small-8 medium-9 large-10 columns faculty-contact-info">
      <h3 style="display:inline;">
          Chun-Hui Miao
      </h3>
      <h6>Associate Professor</h6>
      <p>
          <a href="mailto:miao@moore.sc.edu">miao@moore.sc.edu</a>
      </p>
      <p>
          <span class="education">Education: </span>
          Ph.D., Princeton University
      </p>
      <p>
        <span class="education">Research Interests: </span>
        Industrial organization
    </p>
    <p>
      <a href="CVs/miao_chunhui_cv.pdf">CV</a>, <a href="https://sites.google.com/view/c-miao/home">Personal Website</a>
  </p>
  </div>
</div>

<br>

<div class="list_item row faculty-contact">
    <div class="small-3 medium-4 large-5 columns">

            <img src="Images/miller_lois.jpg" alt="Photo of Lois Miller"/>
  </div>
    <div class="small-8 medium-9 large-10 columns faculty-contact-info">
        <h3 style="display:inline;">
            Lois Miller
        </h3>
        <h6>Assistant Professor</h6>
        <p>
            <a href="mailto:LOIS.MILLER@moore.sc.edu">Lois.Miller@moore.sc.edu</a>
        </p>
        <p>
            <span class="education">Education: </span>
            Ph.D., University of Wisconsin - Madison
        </p>
        <p>
          <span class="education">Research Interests: </span>
          Labor economics, public economics, economics of education
      </p>
      <p>
        <a href="https://users.ssc.wisc.edu/~lmmiller22/Miller_Lois_CV.pdf">CV</a>, <a href="https://www.loismiller.info">Personal Website</a>
    </p>
    </div>
  </div>

<br>

<div class="list_item row faculty-contact">
    <div class="small-3 medium-4 large-5 columns">

            <img src="Images/molina_carlos.jpg" alt="Photo of Carlos Molina"/>
  </div>
    <div class="small-8 medium-9 large-10 columns faculty-contact-info">
        <h3 style="display:inline;">
            Carlos Molina
        </h3>
        <h6>Research Assistant Professor</h6>
        <p>
            <a href="mailto:carlosmolina@sc.edu">carlosmolina@sc.edu</a>
        </p>
        <p>
            <span class="education">Education: </span>
            Ph.D., Massachusetts Institute of Technology
        </p>
        <p>
          <span class="education">Research Interests: </span>
          Development economics, political economy, behavioral economics
      </p>
      <p>
        <a href="https://drive.google.com/file/d/10NMl7169RGlTUi47Dh5gMMhvVhdkInz5/view">CV</a>, <a href="https://sites.google.com/view/carlosmolinaguerra/home">Personal Website</a>
    </p>
    </div>
  </div>

<br>

<div class="list_item row faculty-contact">
  <div class="small-3 medium-4 large-5 columns">

          <img src="Images/ozturk_orgul.jpg" alt="Photo of Orgul Ozturk"/>
  </div>
  <div class="small-8 medium-9 large-10 columns faculty-contact-info">
      <h3 style="display:inline;">
          Org&uuml;l D. &Ouml;zt&uuml;rk
      </h3>
      <h6>Associate Professor, Department Chair</h6>
      <p>
          <a href="mailto:odozturk@moore.sc.edu">odozturk@moore.sc.edu</a>
      </p>
      <p>
          <span class="education">Education: </span>
          Ph.D., University of Wisconsin
      </p>
      <p>
        <span class="education">Research Interests: </span>
        Labor economics, health economics
    </p>
    <p>
      <a href="https://www.dropbox.com/s/hy190s7b9jkysl1/CVJune2020.pdf?dl=0">CV</a>, <a href="https://sites.google.com/view/orguldemetozturk/home">Personal Website</a>
  </p>
  </div>
</div>

<br>

<div class="list_item row faculty-contact">
    <div class="small-3 medium-4 large-5 columns">

            <img src="Images/sanin_deniz.jpg" alt="Photo of Deniz Sanin"/>
  </div>
    <div class="small-8 medium-9 large-10 columns faculty-contact-info">
        <h3 style="display:inline;">
            Deniz Sanin
        </h3>
        <h6>Assistant Professor</h6>
        <p>
            <a href="mailto:Deniz.Sanin@moore.sc.edu">Deniz.Sanin@moore.sc.edu</a>
        </p>
        <p>
            <span class="education">Education: </span>
            Ph.D., Georgetown University
        </p>
        <p>
          <span class="education">Research Interests: </span>
          Development economics, labor economics, gender economics
      </p>
      <p>
        <a href="https://denizsanin.github.io/MyWebsite/CV_AP.pdf">CV</a>, <a href="https://sites.google.com/view/denizsanin">Personal Website</a>
    </p>
    </div>
  </div>

  <br>

<div class="list_item row faculty-contact">
  <div class="small-3 medium-4 large-5 columns">

          <img src="Images/sheldon_tamara.jpg" alt="Photo of Tamara Sheldon"/>
  </div>
  <div class="small-8 medium-9 large-10 columns faculty-contact-info">
      <h3 style="display:inline;">
          Tamara Sheldon
      </h3>
      <h6>Associate Professor</h6>
      <p>
          <a href="mailto:tamara.sheldon@moore.sc.edu">Tamara.Sheldon@moore.sc.edu</a>
      </p>
      <p>
          <span class="education">Education: </span>
          Ph.D., University of California San Diego
      </p>
      <p>
        <span class="education">Research Interests: </span>
        Environmental economics
    </p>
    <p>
      <a href="https://tamaralynnsheldon.wixsite.com/home/cv">CV</a>, <a href="https://tamaralynnsheldon.wixsite.com/home">Personal Website</a>
  </p>
  </div>
</div>

<br>

<div class="list_item row faculty-contact">
  <div class="small-3 medium-4 large-5 columns">

          <img src="Images/pattama_shimpalee.jpg" alt="Photo of Pattama Shimpalee"/>
  </div>
  <div class="small-8 medium-9 large-10 columns faculty-contact-info">
      <h3 style="display:inline;">
          Pattama Shimpalee
      </h3>
      <h6>Adjunct Professor</h6>
      <p>
          <a href="mailto:plimpawa@moore.sc.edu">plimpawa@moore.sc.edu</a>
      </p>
    <p>
      <a href="https://sc.edu/study/colleges_schools/moore/directory/shimpalee_pattama.php">U of SC Webpage</a>
  </p>
  </div>
</div>

<br>

<div class="list_item row faculty-contact">
  <div class="small-3 medium-4 large-5 columns">

          <img src="Images/slice_steve.jpg" alt="Photo of Steve Slice"/>
  </div>
  <div class="small-8 medium-9 large-10 columns faculty-contact-info">
      <h3 style="display:inline;">
          Stephen Slice
      </h3>
      <h6>Lecturer</h6>
      <p>
          <a href="mailto:slices@mailbox.sc.edu">slices@mailbox.sc.edu</a>
      </p>
      <p>
          <span class="education">Education: </span>
          M.S., Clemson University
      </p>
      <p>
        <span class="education">Research Interests: </span>
        Agricultural economics
    </p>
    <p>
      <a href="CVs/slice_stephen_cv.pdf">CV</a>, <a href="https://sc.edu/study/colleges_schools/moore/directory/slice_stephen.php">U of SC Webpage</a>
  </p>
  </div>
</div>

<br>

<div class="list_item row faculty-contact">
  <div class="small-3 medium-4 large-5 columns">

          <img src="Images/saenz_felipe.jpg" alt="Photo of Luis Felipe Saenz"/>
  </div>
  <div class="small-8 medium-9 large-10 columns faculty-contact-info">
      <h3 style="display:inline;">
          Luis Felipe S&aacute;enz
      </h3>
      <h6>Assistant Professor</h6>
      <p>
          <a href="mailto:felipe.saenz@moore.sc.edu">Felipe.Saenz@moore.sc.edu</a>
      </p>
      <p>
          <span class="education">Education: </span>
          Ph.D., University of Illinois, Urbana-Champaign
      </p>
      <p>
        <span class="education">Research Interests: </span>
        Economic growth, development, macroeconomics, economic history
    </p>
    <p>
      <a href="https://sites.google.com/site/luisfelipesaenz/c-v">CV</a>, <a href="https://sites.google.com/site/luisfelipesaenz/">Personal Website</a>
  </p>
  </div>
</div>

<br>

<div class="list_item row faculty-contact">
  <div class="small-3 medium-4 large-5 columns">

          <img src="Images/thomas_danna.jpg" alt="Photo of Danna Thomas"/>
  </div>
  <div class="small-8 medium-9 large-10 columns faculty-contact-info">
      <h3 style="display:inline;">
          Danna Thomas
      </h3>
      <h6>Assistant Professor</h6>
      <p>
          <a href="mailto:danna.thomas@moore.sc.edu">Danna.Thomas@moore.sc.edu</a>
      </p>
      <p>
          <span class="education">Education: </span>
          Ph.D., Columbia University
      </p>
      <p>
        <span class="education">Research Interests: </span>
        Industrial organization, public economics
    </p>
    <p>
      <a href="https://sites.google.com/view/dannakang/cv?authuser=0">CV</a>, <a href="https://sites.google.com/view/dannakang">Personal Website</a>
  </p>
  </div>
</div>

<br>

<div class="list_item row faculty-contact">
    <div class="small-3 medium-4 large-5 columns">

            <img src="Images/waldfogel_sarah.jpg" alt="Photo of Sarah Waldfogel"/>
  </div>
    <div class="small-8 medium-9 large-10 columns faculty-contact-info">
        <h3 style="display:inline;">
            Sarah Waldfogel
        </h3>
        <h6>Assistant Professor</h6>
        <p>
            <a href="mailto:SARAH.WALDFOGEL@moore.sc.edu">Sarah.Waldfogel@moore.sc.edu</a>
        </p>
        <p>
            <span class="education">Education: </span>
            Ph.D., University of Wisconsin - Madison
        </p>
        <p>
          <span class="education">Research Interests: </span>
          Industrial organization, political economy, digitization
      </p>
      <p>
        <a href="https://drive.google.com/file/d/17rzfQv7btFB9QVNFI87pXGzxmx7GwYeL/view">CV</a>, <a href="https://www.swaldfogel.com">Personal Website</a>
    </p>
    </div>
  </div>

  <br>

<div class="list_item row faculty-contact">
  <div class="small-3 medium-4 large-5 columns">

          <img src="Images/watson_elizabeth.jpg" alt="Photo of Elizabeth Watson"/>
  </div>
  <div class="small-8 medium-9 large-10 columns faculty-contact-info">
      <h3 style="display:inline;">
          Elizabeth Watson
      </h3>
      <h6>Clinical Assistant Professor</h6>
      <p>
          <a href="mailto:Elizabeth.Watson@moore.sc.edu">Elizabeth.Watson@moore.sc.edu</a>
      </p>
      <p>
          <span class="education">Education: </span>
          Ph.D., Texas A&amp;M University
      </p>
      <p>
        <span class="education">Research Interests: </span>
        Behavioral economics
    </p>
    <p>
      <a href="CVs/watson_elizabeth_cv.pdf">CV</a>, <a href="https://sc.edu/study/colleges_schools/moore/directory/watson_elizabeth.php">U of SC Webpage</a>
  </p>
  </div>
</div>

<br>

<div class="list_item row faculty-contact">
  <div class="small-3 medium-4 large-5 columns">

          <img src="Images/woodward_doug.jpg" alt="Photo of Doug Woodward"/>
  </div>
  <div class="small-8 medium-9 large-10 columns faculty-contact-info">
      <h3 style="display:inline;">
          Douglas P. Woodward
      </h3>
      <h6>Professor</h6>
      <p>
          <a href="mailto:woodward@moore.sc.edu">woodward@moore.sc.edu</a>
      </p>
      <p>
          <span class="education">Education: </span>
          Ph.D., University of Texas at Austin
      </p>
      <p>
        <span class="education">Research Interests: </span>
        Regional economics, trade, macroeconomics
    </p>
    <p>
      <a href="https://dougwoodward.wordpress.com/vita/">CV</a>, <a href="https://dougwoodward.wordpress.com">Personal Website</a>
  </p>
  </div>
</div>

<br>

<div class="list_item row faculty-contact">
  <div class="small-3 medium-4 large-5 columns">

          <img src="Images/woodworth_lindsey.jpg" alt="Photo of Lindsey Woodworth"/>
  </div>
  <div class="small-8 medium-9 large-10 columns faculty-contact-info">
      <h3 style="display:inline;">
          Lindsey Woodworth
      </h3>
      <h6>Assistant Professor</h6>
      <p>
          <a href="mailto:Lindsey.Woodworth@moore.sc.edu">Lindsey.Woodworth@moore.sc.edu</a>
      </p>
      <p>
          <span class="education">Education: </span>
          Ph.D., University of Florida
      </p>
      <p>
        <span class="education">Research Interests: </span>
        Health economics
    </p>
    <p>
      <a href="https://drive.google.com/file/d/1L1JMCbaOPOJ_0vUM-U9Pvycq2MQbCllR/view">CV</a>, <a href="http://www.lwoodworth.com">Personal Website</a>
  </p>
  </div>
</div>

<br>

<div class="list_item row faculty-contact">
  <div class="small-3 medium-4 large-5 columns">

          <img src="Images/zhan_crystal.jpg" alt="Photo of Crystal Zhan"/>
  </div>
  <div class="small-8 medium-9 large-10 columns faculty-contact-info">
      <h3 style="display:inline;">
          Yi (Crystal) Zhan
      </h3>
      <h6>Associate Professor</h6>
      <p>
          <a href="mailto:Crystal.Zhan@moore.sc.edu">Crystal.Zhan@moore.sc.edu</a>
      </p>
      <p>
          <span class="education">Education: </span>
          Ph.D., University of California, San Diego
      </p>
      <p>
        <span class="education">Research Interests: </span>
        Labor economics, economics of education, applied econometrics
    </p>
    <p>
      <a href="https://drive.google.com/file/d/1LOUMSRTi_H8G20p06s0ZRejAJqMdgSta/view">CV</a>, <a href="https://sites.google.com/site/ycrystalzhan/">Personal Website</a>
  </p>
  </div>
</div>

</div>

<div class="figure half left"></div></div></div>
                      <div class="medium-4 columns units-home-page-side-bar">

            <hr class="show-for-small-only"/>  <hr/>
                  </div>
            </div>  </div>
