<div class="row content-secondary-page">
<div class="small-12 columns">
                  <h1 class="page-title">Department of Economics</h1>
                </div>
                <div class="medium-9 medium-push-3 columns">
                    <div class="row" id="app">
                    <div class="medium-12 columns"><div class="slider-unit"><div class="slider-hp"><div><img alt="The Economics Department" src="Images/building_5.jpg"/><div class="slider-text-container left"><h2 class="text-out blue" id="text-animate-0"><a href="https://sc.edu/study/colleges_schools/moore/economics/undergraduate/prospective/Admission%20and%20Declaring%20the%20Major.php">Explore Economics</a></h2><h3 class="text-out" id="text-animate-0"><a href="https://sc.edu/study/colleges_schools/moore/economics/undergraduate/prospective/Admission%20and%20Declaring%20the%20Major.php">Our students are prepared for careers in finance, government, teaching, and more.</a></h3></div></div></div></div></div>
                      <div class="medium-8 columns">

<hr/><div class="row unit-home-page-events">

<div class="medium-12 columns">

<h3>
    <a href="events.html">Events, Seminars, &amp; Important Dates</a>
</h3>

<events-home division="economics"
             :max_items="3">
</events-home>

</div>

</div>

<hr/><div class="row unit-home-page-arbitrary"><div class="medium-12 columns"><h2>About Economics</h2>
<p><span>The Department of Economics at The University of South Carolina is nationally recognized for its research and teaching. It is the intellectual home of approximately 30 PhD economists and 15 Ph.D. students.</p>
<p><span>The Economics Department offers undergraduate degrees in the Darla Moore School of Business and the College of Arts and Sciences. In addition, the department has strong graduate programs, offering master's and doctoral degrees.</span></p>
<p><strong>Undergraduate Program</strong><br/> The <a href="https://sc.edu/study/colleges_schools/moore/study/economics/degree_programs/bachelors/index.php" rel="noopener noreferrer" target="_blank">undergraduate programs</a> train students to think critically on a wide range of economic topics. Our B.A. and B.S. degrees place an emphasis on the application of economic theory to issues in business and public policy. These programs prepare students for professional careers in finance, consulting, government, law, and teaching.</p>
<p><strong>MSQE Program</strong><br/> The <a href="https://sc.edu/study/colleges_schools/moore/study/economics/degree_programs/master_of_arts_in_economics/index.php" rel="noopener noreferrer" target="_blank">Master of Science in Quantitative Economics (MSQE) program</a> offers a curriculum that combines economic theory with strong empirical training that prepares students for careers in the public and private sector. MSQE students have the option of earning a graduate certificate in business analytics as part of their studies.</p>
<p><strong>Ph.D. Program</strong><br/> The <a href="https://www.sc.edu/study/colleges_schools/moore/study/economics/degree_programs/phd_in_economics/index.php" rel="noopener noreferrer" target="_blank">Ph.D. program</a> prepares students for academic careers. The program develops students' skill sets in the areas of economic theory, statistical methods, and topical courses in the fields of economics.</p>
<div class="figure half left"></div></div></div>
                      </div>
                    <div class="medium-4 columns units-home-page-side-bar">

            <hr class="show-for-small-only"/>  <hr/>
                  <a href="https://sc.edu/study/colleges_schools/moore/study/economics/degree_programs/master_of_arts_in_economics/index.php/"><div class="small-12 panel-1"><h4>Master's in Economics</h4></div></a>
                  <a href="https://www.sc.edu/study/colleges_schools/moore/study/economics/degree_programs/phd_in_economics/index.php"><div class="small-12 panel-1"><h4>Ph.D. in Economics</h4></div></a>
                  <a href="job_market_candidates.html"><div class="small-12 panel-2"><h4>Job Market Candidates</h4></div></a>
                  </div>
            </div>  </div>
