<!DOCTYPE html SYSTEM "about:legacy-compat">
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport"/>
<link href="Images/uofsc_primary_web.svg" rel="icon" type="image/svg+xml"/>
<meta content="#73000a" name="theme-color"/>
<title>{{TITLE}}</title>
<meta content="{{DESCRIPTION}}" name="description"/>
<meta content="{{DATE}}" name="date"/>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,700,700italic,400italic|Roboto+Condensed:400,300" rel="stylesheet" type="text/css"/>
<link href="Stylesheets/app_units.css" rel="stylesheet" type="text/css"/>
<link href="Stylesheets/site.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="off-canvas-wrap" data-offcanvas="">
  <div class="inner-wrap">
    <div id="sc-bar">
      <div class="row">
        <nav class="tab-bar show-for-small-only">
          <section class="right-small">
            <a class="right-off-canvas-toggle menu-icon"><span></span></a>
          </section>
          <section class="left tab-bar-section">
            <a href="http://www.sc.edu/">
              <img alt="The University of South Carolina" class="sc" onerror="this.onerror=null;this.src='Images/usc_logo_horizontal_RGB_G_rev.png'" src="Images/usc_logo_horizontal_RGB_G_rev.png"/>
            </a>
            <a href="https://sc.edu/study/colleges_schools/moore/index.php/">
              <img alt="Darla Moore School of Business - The University of South Carolina" class="cla" onerror="this.onerror=null;this.src='Images/usc_logo_horizontal_RGB_G_rev.png'" src="Images/usc_logo_horizontal_RGB_G_rev.png"/>
            </a>
          </section>
        </nav>
        <aside class="right-off-canvas-menu" id="site-navigation">
{{MOBILE_NAV}}
        </aside>
        <nav class="top-bar show-for-medium-up" data-topbar="" role="navigation">
          <ul class="title-area">
            <li class="name">
              <a href="https://sc.edu/study/colleges_schools/moore/index.php">
                <img alt="Darla Moore School of Business - The University of South Carolina" class="sc" src="Images/USC_MooreSchool_logo_horizontal_RGB_G_rev.png" width="200" height="40"/>
              </a>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>
          <section class="top-bar-section">
            <ul class="right">
              <li>
                <form action="//sc.edu/study/colleges_schools/moore/search" id="search-medium-up">
                  <input name="cx" type="hidden" value="002688418440466237416:ilehtu0wbts"/>
                  <input name="cof" type="hidden" value="FORID:10"/>
                  <input name="ie" type="hidden" value="UTF-8"/>
                  <label class="hidden-for-medium-up" for="searchMediumUpInput">Search The Darla Moore School of Business</label>
                  <input id="searchMediumUpInput" name="q" placeholder="Search The Darla Moore School of Business..." type="search"/>
                </form>
              </li>
              <li class="pipe-divider"> &nbsp; | &nbsp; </li>
              <li>
                <a class="donate-button" href="https://sc.edu/giving/" title="GIVE">GIVE</a>
              </li>
            </ul>
          </section>
        </nav>
      </div>
    </div>
    <section class="main-section">
      <div id="identity-bar">
        <div class="row">
          <div class="row" id="logo_row">
            <div class="hide-for-small medium-4 columns"></div>
          </div>
        </div>
      </div>
{{CONTENT_MAIN}}
{{DESKTOP_NAV}}
{{FOOTER}}
    </section>
    <a class="exit-off-canvas"></a>
  </div>
</div>
<script src="Scripts/site.js" type="text/javascript"></script>
<script src="/_internal/js/components/server/public/js/app.js"></script>
</body>
</html>
